<div id="BBSWindow" style="cursor: auto;" align="center">
    <%- partial('_partial/t') %>
    <%- partial('_partial/cursor') %>
    <div class="main" style="border: 0px; font-family: MingLiu, SymMingLiu, monospace !important; transform-origin: center center; font-size: 24px; line-height: 24px; overflow: hidden auto; text-align: left; width: 970px; height: 586px; margin-top: 96px; transform: none;">
        <%- partial('_partial/mainContainer') %>
    </div>
    <%- partial('_partial/easyReadingLastRow') %>
    <%- partial('_partial/easyReadingReplyRow') %>
