<%- include ../layout/_partial/head.ejs %>

    <body class="blink--active"><span id="cmdHandler" usemousebrowsing="0" dodommousescroll="0" skipmouseclick="0"></span>
        <div id="cmenuReact">
            <div class="">
                <ul class="dropdown-menu DropdownMenu--reset" style="top: 0px; left: 0px;">
                    <li role="separator" class="divider"></li>
                    <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#">設定</a></li>
                </ul>
            </div>
        </div>
        <div id="BBSWindow" style="cursor: auto;" align="center">
            <%- include ../layout/_partial/t %>
                <%- include ../layout/_partial/cursor %>
                    <div class="main" style="border: 0px; font-family: MingLiu, SymMingLiu, monospace !important; transform-origin: center center; font-size: 24px; line-height: 24px; overflow: hidden auto; text-align: left; width: 970px; height: 586px; margin-top: 96px; transform: none;">
                        <%- include ../layout/_partial/pg_mail_read.ejs %>
                    </div>
                    <%- include ../layout/_partial/easyReadingLastRow %>
                        <%- include ../layout/_partial/easyReadingReplyRow %>

                            <div id="reactAlert"></div>
                            <%- include ../layout/_partial/vue.ejs %>
    </body>

    </html>